html {
	background-color: black;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
	color: white;
	z-index: -2;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#options {
	z-index: 0;
	position: absolute;
	min-width: 100%;
	background-color: black;
	min-height: 71px;
	top: 0;
	display: flex;
	padding: 0.3rem;
	padding-left: 1rem;
	/* min-width is screen - padding */
	min-width: calc(100% - 1.6rem);
}

#player {
	position: absolute;
	pointer-events: none;
	z-index: -1;
}

#timer {
	z-index: 0;
	font-size: 20vw;
}

#custom {
	display: flex;
	align-items: center;
	height: fit-content;
	margin-left: 1rem;
}

#presets {
	display: flex;
	height: fit-content;
	gap: 0.5rem;
}

#timeroptions .button,
#moodoptions .button {
	min-width: 1rem;
	padding: 0.3rem;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid white;
	border-radius: 10px;
	text-transform: capitalize;
}

#moodoptions {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-top: 2rem;
}

#options input {
	width: 2rem;
	background-color: transparent;
	color: inherit;
	outline: none;
	border: none;
	border-bottom: 1px solid white;
}

#options input:first-child {
	text-align: right;
}

#separator {
	font-size: 1rem;
}

#set {
	margin-left: 0.5rem;
}

#timeroptions {
	display: flex;
	flex-wrap: wrap;
}

#controls {
	display: flex;
	height: 5rem;
}

#controls .button {
	margin: 0.4rem;
	display: flex;
}

#controls .control-icon {
	width: 3rem;
}
#togglers {
	margin-right: 0.5rem;
	display: flex;
	flex-direction: column;
}

#togglers .button {
	height: 2rem;
	display: flex;
	align-items: center;
}

.button {
	cursor: pointer;
	text-align: center;
}

.control-icon {
	min-width: 1rem;
	filter: brightness(0) invert(1);
}

.hidden {
	display: none !important;
}
